<?xml version='1.0' encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>

         <property name="show_sql">false</property>
         <property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>
         <property name="hibernate.cglib.use_reflection_optimizer" >false</property>
         <mapping resource="DbSchema.hbm.xml" />
    </session-factory>

</hibernate-configuration>