<html>
<head>
<title>Analogon - Observatoire De l'Habitat</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
//-->
</script>

<style type="text/css">
<!--
.menu {font-family:Verdana; font-size:8pt
; color:black; text-decoration:none;}
a.menu:hover {color:red;}
//-->
</style>

</head>
<body background="images/fond02.gif" link="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
#parse("menu.htm")
#set($actionparam = $req.getParameter("dispatcher"))
#if($actionparam.endsWith('UPDATE'))
 #set($dispatcher = 'UPDATE')
#else
 #set($dispatcher = 'INSERT')
#end
<form name="objectForm" method="post" action="util_form" onSubmit="document.objectForm.dispatcher.value='$!dispatcher';document.objectForm.submit();" >
<input type="hidden" name="oduti_id" value="$!utilisateur.oduti_id">
<input type="hidden" name="dispatcher" value="$!dispatcher" >
  <p>&nbsp;</p>
<center>
  <table width="90%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="3"><div align="left"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif"><strong><img src="images/administration01.gif" width="60" height="30" align="absmiddle"></strong></font></font></strong></font><strong><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;&nbsp;Administration</font></strong></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
          /
        #if($!actionparam.endsWith("UPDATE"))
           Modification utilisateur
        #else
          Cr&eacute;ation utilisateur
        #end
          </font></strong></div></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan=3 align="center">
          <font color="#800000"><b>
          #if($actionparam.equalsIgnoreCase("INSERT"))
            #if($executed)
              L'enregistrement a été effectué.
            #else
              #if($utilisateur.hasErrors())
                  Impossible de valider : Il y a $!utilisateur.getErrorsCount() erreur(s).
              #else
                $!hibernateError
              #end
            #end
          #elseif($actionparam.equalsIgnoreCase("UPDATE"))
            #if($executed)
              L'enregistrement a été actualisé.
            #else
              #if($utilisateur.hasErrors())
                  Impossible de valider : Il y a $!utlisateur.getErrorsCount() erreur(s)."
              #else
                $!hibernateError
              #end
            #end
          #end
          </b></font>
       </td></tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
</table>
</center>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b>
      <font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">
      Code d'accès *</font></b></em></td>
      <td valign="top"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;
        <input type="text" name="oduti_utilisateur" value="$!utilisateur.getAltValue($utilisateur.oduti_utilisateur, 'oduti_utilisateur')"  maxlength=8 size="8">
        </font>
                 <!-- error message -->
                 #if ($utilisateur.hasError("oduti_utilisateur", "IS_BLANK_OR_NULL"))
                   <font color="red">Ce champ est obligatoire.</font><br/>
                 #end
                 #if ($utilisateur.hasError("oduti_utilisateur", "MIN_LENGTH"))
                   <font color="red">Le nom d'utilisateur est trop court. Minimum 4 caractères.</font><br/>
                 #end
                 #if ($utilisateur.hasError("oduti_utilisateur", "MAX_LENGTH"))
                   <font color="red">Le nom d'utilisateur est trop long. Maximum 8 caractères.</font><br/>
                 #end
                 #if ($utilisateur.hasError("oduti_utilisateur","ALREADY_EXISTS"))
                   <font color="red">Il y a déjà un utilisateur avec le nom '$!utilisateur.oduti_utilisateur'.</font><br/>
                 #end
        </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">Mot
        de passe *</font></b></em></td>
      <td valign="top">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif">
        <input type="text" name="oduti_password" value="$!utilisateur.getAltValue($utilisateur.oduti_password, 'oduti_password')" maxlength=8 size="8">
        </font>
               <!-- validate error message -->
               #if ($utilisateur.hasError("oduti_password", "IS_BLANK_OR_NULL"))
                 <font color="red">Ce champ est obligatoire.</font>
               #end
               #if ($utilisateur.hasError("oduti_password", "MIN_LENGTH"))
                 <font color="red">Le mot de passe est trop court. Minimum 4 caractères.</font>
               #end
               #if ($utilisateur.hasError("oduti_password", "MAX_LENGTH"))
                 <font color="red">Le mot de passe  est trop long. Maximum 8 caractères.</font>
               #end
        </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" valign="top" background="images/fond_sousmenu.gif">&nbsp;&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong><em>Valide
         </em></strong></font></td>
      <td valign="top">&nbsp;
       <select size="1" name="oduti_valide">
           <option value="n" $!utilisateur.getSelectedAttribute('n', $utilisateur.charToString($!utilisateur.oduti_valide)) >Non</option>
           <option value="o" $!utilisateur.getSelectedAttribute('o', $utilisateur.charToString($!utilisateur.oduti_valide)) >Oui</option>
         </select>
               <!-- validate error message -->
               #if ($utilisateur.hasError("oduti_valide", "IS_NOT_IN_COLLECTION"))
                 <font color="red">L'option sélectionnée n'est pas valide.</font>
               #end
         </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">Type
        utilisateur </font></b></em></td>
      <td>&nbsp;
       <select size="1" name="oduti_type">
          <option value="l" $!utilisateur.getSelectedAttribute('l', $utilisateur.charToString($!utilisateur.oduti_type)) >Consultation</option>
          <option value="c" $!utilisateur.getSelectedAttribute('c', $utilisateur.charToString($!utilisateur.oduti_type)) >Utilisation</option>
          <option value="a" $!utilisateur.getSelectedAttribute('a', $utilisateur.charToString($!utilisateur.oduti_type)) >Administration</option>
          <option value="r" $!utilisateur.getSelectedAttribute('r', $utilisateur.charToString($!utilisateur.oduti_type)) >R&eacute;ponse</option>
       </select>
               <!-- validate error message -->
               #if ($utilisateur.hasError("oduti_type", "IS_NOT_IN_COLLECTION"))
                 <font color="red">L'option sélectionnée n'est pas valide.</font>
               #end
       </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" valign="top" background="images/fond_sousmenu.gif"><em><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Niv
        de s&eacute;curit&eacute; (fonction) </font></b></em></td>
      <td>&nbsp;
      <select name="oduti_module" size="1" >
            #foreach($item in $utilisateur.getLevelArray())
              <option value="$!item" $!utilisateur.getSelectedAttribute($!item,$!utilisateur.oduti_module.toString())>$!item
            #end
        </select>
             #if ($utilisateur.hasError("oduti_module", "IS_BLANK_OR_NULL"))
               <font color="red">Ce champ est obligatoire.</font>
             #end
             #if ($utilisateur.hasError("oduti_module", "IS_NOT_IN_COLLECTION"))
               <font color="red">L'option sélectionnée n'est pas valide.</font>
             #end
        </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" valign="top" background="images/fond_sousmenu.gif"><em><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Niv
        de s&eacute;curit&eacute; (lecture) </font></b></em></td>
      <td>&nbsp;
      <select name="oduti_lect" size="1" >
          #foreach($item in $utilisateur.getLevelArray())
             <option value="$!item" $!utilisateur.getSelectedAttribute($!item,$!utilisateur.oduti_lect.toString())>$!item
          #end
        </select>
             #if ($utilisateur.hasError("oduti_lect", "IS_BLANK_OR_NULL"))
               <font color="red">Ce champ est obligatoire.</font>
             #end
             #if ($utilisateur.hasError("oduti_lect", "IS_NOT_IN_COLLECTION"))
               <font color="red">L'option sélectionnée n'est pas valide.</font>
             #end
        </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" valign="top" background="images/fond_sousmenu.gif"><em><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Niv
        de s&eacute;curit&eacute; (cr&eacute;ation) </font></b></em></td>
      <td>&nbsp; <select name="oduti_crea" size="1" >
            #foreach($item in $utilisateur.getLevelArray())
              <option value="$!item" $!utilisateur.getSelectedAttribute($!item,$!utilisateur.oduti_crea.toString())>$!item
            #end
        </select>
             #if ($utilisateur.hasError("oduti_crea", "IS_BLANK_OR_NULL"))
                 <font color="red">Ce champ est obligatoire.</font>
               #end
               #if ($utilisateur.hasError("oduti_crea", "IS_NOT_IN_COLLECTION"))
                 <font color="red">L'option sélectionnée n'est pas valide.</font>
               #end
        </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" valign="top" background="images/fond_sousmenu.gif"><em><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Niv
        de s&eacute;curit&eacute; (modif) </font></b></em></td>
      <td>&nbsp; <select name="oduti_modif" size="1" >
          #foreach($item in $utilisateur.getLevelArray())
              <option value="$!item" $!utilisateur.getSelectedAttribute($!item,$!utilisateur.oduti_modif.toString())>$!item
          #end
        </select>
             #if ($utilisateur.hasError("oduti_modif", "IS_BLANK_OR_NULL"))
                 <font color="red">Ce champ est obligatoire.</font>
               #end
               #if ($utilisateur.hasError("oduti_modif", "IS_NOT_IN_COLLECTION"))
                 <font color="red">L'option sélectionnée n'est pas valide.</font>
               #end
        </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210"  valign="top" background="images/fond_sousmenu.gif" ><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Civilit&eacute;&nbsp;/&nbsp;Nom&nbsp;*/&nbsp;Prénom&nbsp;*&nbsp; </font></b></em></td>
      <td nowrap>&nbsp; <select size="1" name="oduti_civil">
           <option value="M." $!utilisateur.getSelectedAttribute("M.", $!utilisateur.oduti_civil) >M.</option>
           <option value="Mme" $!utilisateur.getSelectedAttribute("Mme", $!utilisateur.oduti_civil)>Mme</option>
           <option value="Mlle" $!utilisateur.getSelectedAttribute("Mlle", $!utilisateur.oduti_civil)>Mlle</option>
        </select><input type="text" name="oduti_nom" value="$!utilisateur.getAltValue($utilisateur.oduti_nom, 'oduti_nom')" maxlength=50 size="15">
        <input type="text" name="oduti_prenom" id="oduti_prenom" value="$!utilisateur.getAltValue($utilisateur.oduti_prenom, 'oduti_prenom')" maxlength=50 size="15">
               <!-- validate error message -->
               #if ($utilisateur.hasError("oduti_civil", "IS_NOT_IN_COLLECTION"))
                 <font color="red">L'option sélectionnée n'est pas valide.</font>
               #end
               #if ($utilisateur.hasError("oduti_nom", "IS_BLANK_OR_NULL"))
                 <font color="red">Le nom est obligatoire.</font>
               #end
               #if ($utilisateur.hasError("oduti_nom", "MAX_LENGTH"))
                 <font color="red">Le nom est trop long. Maximum 30 caractères.</font>
               #end
               #if ($utilisateur.hasError("oduti_nom", "MIN_LENGTH"))
                 <font color="red">Le nom est trop court. Minimum 2 caractères.</font>
               #end
               #if ($utilisateur.hasError("oduti_prenom", "IS_BLANK_OR_NULL"))
                 <font color="red">Le prénom est obligatoire.</font>
               #end
               #if ($utilisateur.hasError("oduti_prenom", "MAX_LENGTH"))
                 <font color="red">Le prénom est trop long. Maximum 30 caractères.</font>
               #end
               #if ($utilisateur.hasError("oduti_prenom", "MIN_LENGTH"))
                 <font color="red">Le prénom est trop court. Minimum 2 caractères.</font>
               #end
        </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">Adresse
        1 </font></b></em></td>
      <td>&nbsp; <input type="text" name="oduti_adresse1" value="$!utilisateur.getAltValue($utilisateur.oduti_adresse1, 'oduti_adresse1')" maxlength=60 size="60">
           <!-- validate error message -->
           #if ($utilisateur.hasError("oduti_adresse1", "MAX_LENGTH"))
             <font color="red">L'adresse est trop longue. Maximum 60 caractères.</font>
           #end
      </td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">Adresse
        2 </font></b></em></td>
      <td>&nbsp; <input type="text" name="oduti_adresse2" value="$!utilisateur.getAltValue($utilisateur.oduti_adresse2, 'oduti_adresse2')" maxlength=80 size="60">
           <!-- validate error message -->
           #if ($utilisateur.hasError("oduti_adresse2", "MAX_LENGTH"))
             <font color="red">L'adresse est trop longue. Maximum 80 caractères.</font>
           #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">Adresse
        3 </font></b></em></td>
      <td>&nbsp; <input type="text" name="oduti_adresse3" value="$!utilisateur.getAltValue($utilisateur.oduti_adresse3, 'oduti_adresse3')" maxlength=80 size="60">
           <!-- validate error message -->
           #if ($utilisateur.hasError("oduti_adresse3", "MAX_LENGTH"))
             <font color="red">L'adresse est trop longue. Maximum 80 caractères.</font>
           #end
      </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">Code
        postal / Ville </font></b></em></td>
      <td>&nbsp; <input type="text" name="oduti_codeposte" value="$!utilisateur.getAltValue($!utilisateur.zeroFillToStart($utilisateur.oduti_codeposte.toString(), 5), 'oduti_codeposte')" maxlength=5 size="5">
        &nbsp; <input type="text" name="oduti_ville" value="$!utilisateur.getAltValue($utilisateur.oduti_ville, 'oduti_ville')" maxlength=30 size="30">
               #if ($utilisateur.hasError("oduti_codeposte", "IS_FRENCH_CODEPOSTE"))
                 <font color="red">La valeur introduite n'est pas celle d'un code postal.</font>
               #end
              #if ($utilisateur.hasError("oduti_ville", "MAX_LENGTH"))
                 <font color="red">La valeur pour la ville est trop longue. Maximum 30 caractères.</font>
               #end
        </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">Tel
        </font></b></em></td>
      <td>&nbsp; <input type="text" name="oduti_tel" value="$!utilisateur.getAltValue($utilisateur.oduti_tel, 'oduti_tel')" maxlength=20 size="20">
              #if ($utilisateur.hasError("oduti_tel", "MAX_LENGTH"))
                 <font color="red">Le numéro de téléphone est trop long. Maximum 20 caractères.</font>
               #end
              #if ($utilisateur.hasError("oduti_tel", "IS_PHONE"))
                 <font color="red">La valeur introduite n'est pas celle d'un numéro de téléphone.</font>
               #end

      </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><b><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif">Fax
        </font></b></em></td>
      <td>&nbsp; <input type="text" name="oduti_fax" value="$!utilisateur.getAltValue($utilisateur.oduti_fax, 'oduti_fax')" maxlength=20 size="20">
              #if ($utilisateur.hasError("oduti_fax", "MAX_LENGTH"))
                 <font color="red">Le numéro de fax est trop long. Maximum 20 caractères.</font>
               #end
              #if ($utilisateur.hasError("oduti_fax", "IS_PHONE"))
                 <font color="red">La valeur introduite n'est pas celle d'un numéro de fax.</font>
               #end
      </td>
    </tr>
    <tr>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><font color="#000000" size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>Mail
        </b></font></em></td>
      <td>&nbsp; <input type="text" name="oduti_mail" value="$!utilisateur.getAltValue($utilisateur.oduti_mail, 'oduti_mail')" maxlength=60 size="40">
              #if ($utilisateur.hasError("oduti_mail", "IS_EMAIL"))
                 <font color="red">La valeur introduite n'est pas celle d'une adresse de mail.</font>
               #end
              #if ($utilisateur.hasError("oduti_mail", "MAX_LENGTH"))
                 <font color="red">La valeur pour ce champ est trop longue. Maximum 60 caractères.</font>
               #end
      </td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></strong><font color="#000000" size="2" face="Geneva, Arial, Helvetica, sans-serif"><b>Libell&eacute;
          </b></font></em></td>
      <td>&nbsp; <input type="text" name="oduti_libelle" value="$!utilisateur.getAltValue($utilisateur.oduti_libelle, 'oduti_libelle')" maxlength=60 size="60">
                #if ($utilisateur.hasError("oduti_libelle", "MAX_LENGTH"))
                 <font color="red">La valeur pour ce champ est trop longue. Maximum 60 caractères.</font>
                #end
      </td>
    </tr>
    <tr>
      <td height="20" valign="top">&nbsp;</td>
      <td colspan="2"valign="top">&nbsp;
        <font face="Verdana, Arial, Helvetica, sans-serif"><font size="2">&nbsp;&nbsp;<font color="#000000" size="2">Les
          champs suivis de * sont obligatoires.</font>
      </td>
    </tr>
    <tr>
      <td height="20" valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
      <td>
      #if($!actionparam.endsWith("UPDATE"))
        <a href="#" onClick="document.objectForm.dispatcher.value='DELETE';document.objectForm.submit();">
          <img src="images/supprimer.gif" width="130" height="17" border="0"></a>
          <a href="#" onClick="document.objectForm.dispatcher.value='UPDATE';document.objectForm.submit();"><img src="images/modifier.gif" width="130" height="17" border="0" ></a>
      #else
      <a href="#" onClick="document.objectForm.dispatcher.value='INSERT';document.objectForm.submit();"><img src="images/creer.gif" width="130" height="17" border="0"></a>
      #end
      <a href="util_list" ><img src="images/annuler.gif" width="130" height="17" border="0"></a>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
