<html>
<head>
<title>Analogon - Observatoire De l'Habitat</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script type="text/javascript" src="js/dropdown.js">
</script>
<script language="JavaScript">
<!--

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}

function changeYear(){
  document.rechercheForm.dispatcher.value='LIST';
  document.rechercheForm.odii_annee.value = document.rechercheForm.year.options[document.rechercheForm.year.options.selectedIndex].value;
  document.rechercheForm.submit();
}

function changeYear2(itemVal){
  document.rechercheForm.dispatcher.value='LIST';
  document.rechercheForm.odii_annee.value = itemVal;
  document.rechercheForm.submit();
}

function changeValeur(idins){
  lastValue = eval("document.rechercheForm.note_"+idins+".value")/eval("document.rechercheForm.cfc_"+idins+".value");
  newValue = eval("document.rechercheForm.odii_valeur_"+idins+".options[document.rechercheForm.odii_valeur_"+idins+".options.selectedIndex].value");
  cfcValue = eval("document.rechercheForm.cfc_"+idins+".value");
  noteValue = newValue * cfcValue;
  eval("document.rechercheForm.note_"+idins+".value = noteValue;");
  document.rechercheForm.total.value = eval(document.rechercheForm.total.value)-eval(lastValue) + eval(newValue);
}

function changeValeur2(idins,itv){
  lastValue = eval("document.rechercheForm.note_"+idins+".value")/eval("document.rechercheForm.cfc_"+idins+".value");
  newValue = itv;
  idmenu = "menu_valeur_"+idins;
  document.getElementById(idmenu).innerHTML = itv;
  eval("document.rechercheForm.odii_valeur_"+idins+".value = newValue;");
  cfcValue = eval("document.rechercheForm.cfc_"+idins+".value");
  noteValue = newValue * cfcValue;
  eval("document.rechercheForm.note_"+idins+".value = noteValue;");
  document.rechercheForm.total.value = eval(document.rechercheForm.total.value)-eval(lastValue) + eval(newValue);

}

function changeRemediabilite(idins, itr, itrtxt){
  eval("document.rechercheForm.odii_remediabilite_"+idins+".value="+itr);
  idmenu2 = "menu_remediabilite_"+idins;
  if(itrtxt == "")
    document.getElementById(idmenu2).innerHTML = "<span style='color:#FFFFFF;'>Choisir une option</span>";
  else document.getElementById(idmenu2).innerHTML = itrtxt;

}
//-->
</script>
<style type="text/css">
<!--
.menu {font-family:Verdana; font-size:8pt
; color:black; text-decoration:none;}
a.menu:hover {color:red;}
//-->


</style>
</head>
<body background="images/fond02.gif" link="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
#set($pDispatcher = $req.getParameter("dispatcher"))
#parse("menu.htm")
#set($actionparam = $req.getParameter("dispatcher"))
<form name="rechercheForm" method="post" action="insalubritelot" >
<input type="hidden" name="dispatcher" value="SAVE" >
<input type="hidden" name="odlot_id" value="$!lot.odlot_id" >
  <p>&nbsp;</p>
<center>
<table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <td colspan="9"><div align="left">
        <table cellspacing="0" cellpadding="0" border="0" ><tr><td>
        <font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;&nbsp;</font><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2"><img src="images/immeuble01.gif" width="60" height="30" align="absmiddle"></font></strong></font></strong></font><strong><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;</font></strong></font><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;Immeuble&nbsp;<a href="im_form?dispatcher=FOR_UPDATE&odim_id=$!lot.odlot_immeuble.odim_id" style="color:blue;" >$!lot.odlot_immeuble.notNullName</a>&nbsp;/&nbsp;Lot <a href="lot_form?dispatcher=FOR_UPDATE&for_object=immeuble&odlot_immeuble=$!lot.odlot_immeuble.odim_id&odlot_id=$!lot.odlot_id" style="color:blue;" >$!lot.odlot_code</a></font></strong></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
         &nbsp;/&nbsp;Insalubrit&eacute; &nbsp;</font></strong></strong></font>
         </td><td nowrap>
         <input type="hidden" name="year" value="$!req.getParameter('odii_annee')" >
         <div id="menu_year"  style="width: 50px; border: 1px solid black; background: #FFFFFF; padding: 0px 5px;font-weight: 900; color: #0000C0;">
            $!req.getParameter('odii_annee')
         </div>
         <div id="menu_year_child" style="position: absolute; visibility: hidden;">
           #foreach($item in $years)
            <a style="background-color:lightyellow;display: block; width: 50px; border: 1px solid black; padding: 0px 5px; text-decoration: none; font-weight: 900; color: #0000C0;" href="#" onClick="changeYear2($item)" >$!item.toString()</a>
           #end
        </div>
        <script type="text/javascript">
        at_attach("menu_year", "menu_year_child", "hover", "y", "pointer");
        </script>
        </td></tr></table>
     <!--
        <select name="year" onChange="changeYear()" >
        <option>
          #foreach($item in $years)
            <option value="$item" $!immeuble.getSelectedAttribute($item.toString(), $!req.getParameter("odii_annee"))>$!item.toString()
          #end
        </select>
        -->
        </div>
        </td>
    </tr>
    <tr>
      <td align="center" valign="top" colspan="9" nowrap><b>
          Immeuble: $!lot.odlot_immeuble.notNullName  : Lot : $!lot.odlot_code : Fiche insalubrit&eacute; :&nbsp;&nbsp;&nbsp;
          Année&nbsp;<input type="text" name="odii_annee" value="$!req.getParameter('odii_annee')" size="4" maxlength="4" readonly>
          Date&nbsp;<input type="text" name="odii_date" value="$!properties.getProperty('date')" size="10" maxlength="10" onChange="changeDate(document.rechercheForm.odii_annee)">
          <br>
          <table border="0"><tr>
          <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">Total&nbsp;</font></strong></strong><input type="text" name="total" value="$!properties.getProperty('total')" size="4"  style="text-align:right;"></td>
          <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">Coefficient insalubrité&nbsp;</font></strong></strong><input type="text" name="coefficient" value="$!properties.getProperty('coefficient')" size="4" readonly></td>
          <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">Interpretation&nbsp;&nbsp;&nbsp;</font></strong></strong></td>
          <td ><table cellspacing="0" cellpadding="0" border="1" style="width:150;">
          <tr height="25">
            <td style="background-color:#FFFFFF;; width:30;"></td>
            <td style="background-color:#BBBBBB;; width:30;"></td>
            <td style="background-color:#888888;; width:30;"></td>
            <td style="background-color:#444444;; width:30;"></td>
            <td style="background-color:#000000;; width:30;"></td>
          </tr>
          <tr><td colspan="5"><table border="0" width="100%" celsspcing="0" cellpadding="0"><tr><td align="left" width="33%">
          <font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">0.00</font></strong></strong></td><td align="center" width="33%">
          <font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">0.60</font></strong></strong></td><td align="right" width="33%">
          <font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">1.20</font></strong></strong></td></tr></table></td></tr>
          </table></td>
          </table>
      </b></td>
    </tr>
    <tr>
      <td colspan="9" align="center" > <p>
          <font color="#800000"><b>
          #if($actionparam.equalsIgnoreCase("SAVE"))
            #if($executed)
              L'enregistrement a été actualisé.
            #end
          #end
          </b></font>
      </td>
    </tr>
    <tr>
      <td width="50" height="20" valign="top"> <div align="right"></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
</table>
#set($counter = 0)
#if($all_codes.size() > 0 )
<table width="90%" border="1" cellspacing="0" cellpadding="0">
#foreach($item2 in $all_codes)
  #if($counter > 0)
  <tr><td colspan="10">&nbsp;
                #set($item = $insalubrites.get($item2.odii_insalubrite.odins_id.toString()))
                <input type="hidden" name="odins_id" value="$!item.odii_insalubrite.odins_id">
                <inout type="hidden" name="odii_id_$!item.odii_insalubrite.odins_id" value="$!item.odii_id" >
                #if ($item.hasError("odii_remediabilite", "NOT_EXISTS"))
                  <font color="red">La remèdiabilité choisie n'existe plus. </font><br/>
                #end
               #if ($item.hasError("odii_observation", "MAX_LENGTH"))
                 <font color="red">Les observations sont trop longues. Maximum 60 caractères.</font>
               #end
  </td></tr>
  #else
                #set($item = $insalubrites.get($item2.odii_insalubrite.odins_id.toString()))
                <input type="hidden" name="odins_id" value="$!item.odii_insalubrite.odins_id">
                <inout type="hidden" name="odii_id_$!item.odii_insalubrite.odins_id" value="$!item.odii_id" >
                #if ($item.hasError("odii_remediabilite", "NOT_EXISTS"))
                  <font color="red">La remèdiabilité choisie n'existe plus. </font><br/>
                #end
               #if ($item.hasError("odii_observation", "MAX_LENGTH"))
                 <font color="red">Les observations sont trop longues. Maximum 60 caractères.</font>
               #end
  #end

  <tr>
    <td style="background-color:#CCCC99;" width="130"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Code&nbsp;</font></strong></td>
    <td align="center" bgcolor="#FFFFFF" width="50"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;$!item.odii_insalubrite.odins_code</font></strong></td>
    <td style="background-color:#CCCC99;" width="100"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Critére&nbsp;</font></strong></td>
    <td align="center" bgcolor="#FFFFFF" colspan="7" ><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;$!item.odii_insalubrite.odins_critere</font></strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" colspan="10"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
    <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr>
    <td align="center" style="background-color:#CCCC99;" style="width:16%" id="234"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="#"  onMouseOver='showit("bon1_$!item.odii_insalubrite.odins_id")' onMouseOut="closeit()" style="color:blue;">Bon</a></font></strong>
    <div id="bon1_$!item.odii_insalubrite.odins_id" style="position:absolute;width:250;padding:5px;background-color:lightyellow;border:1px solid black;visibility:hidden;z-index:100;cursor:hand;text-align:left;">
      <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">$!item.encodeHtml($!item.odii_insalubrite.odins_bon1)&nbsp;</font></strong>
    </div>
        </td>
    <td align="center" style="background-color:#CCCC99;" style="width:16%" ><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="#" onMouseOver='showit("mediocre1_$!item.odii_insalubrite.odins_id")' onMouseOut="closeit()" style="color:blue;">Médiocre</a></font></strong>
        <div id="mediocre1_$!item.odii_insalubrite.odins_id" style="position:absolute;width:250;padding:5px;background-color:lightyellow;border:1px solid black;visibility:hidden;z-index:100;cursor:hand;text-align:left;">
          <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">$!item.encodeHtml($!item.odii_insalubrite.odins_mediocre1)&nbsp;</font></strong>
        </div>
    </td>
    <td align="center" style="background-color:#CCCC99;" style="width:16%" ><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="#" onMouseOver='showit("mauvais1_$!item.odii_insalubrite.odins_id")' onMouseOut="closeit()" style="color:blue;">Mauvais</a></font></strong>
        <div id="mauvais1_$!item.odii_insalubrite.odins_id" style="position:absolute;width:250;padding:5px;background-color:lightyellow;border:1px solid black;visibility:hidden;z-index:100;cursor:hand;text-align:left;">
      <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">$!item.encodeHtml($!item.odii_insalubrite.odins_mauvais1)&nbsp;</font></strong>
    </div>
    </td>
    <td align="center" style="background-color:#CCCC99;" style="width:16%" ><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="#" onMouseOver='showit("tmauvais1_$!item.odii_insalubrite.odins_id")' onMouseOut="closeit()" style="color:blue;">Très mauvais</a></font></strong>
        <div id="tmauvais1_$!item.odii_insalubrite.odins_id" style="position:absolute;width:250;padding:5px;background-color:lightyellow;border:1px solid black;visibility:hidden;z-index:100;cursor:hand;text-align:left;">
            <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">$!item.encodeHtml($!item.odii_insalubrite.odins_tmauvais1)&nbsp;</font></strong>
        </div>
    </td>
    <td align="center" style="background-color:#CCCC99;" style="width:16%" ><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="#" onMouseOver='showit("eleminfl_$!item.odii_insalubrite.odins_id")' onMouseOut="closeit()" style="color:blue;">Eléments influents</a></font></strong>
        <div id="eleminfl_$!item.odii_insalubrite.odins_id" style="position:absolute;left:250;width:250;padding:5px;background-color:lightyellow;border:1px solid black;visibility:hidden;z-index:100;cursor:hand;text-align:left;">
          <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">$!item.encodeHtml($!item.odii_insalubrite.odins_eleminfl)&nbsp;</font></strong>
        </div>
    </td>
    <td align="center" style="background-color:#CCCC99;" style="width:16%" ><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="#" onMouseOver='showit("precision_$!item.odii_insalubrite.odins_id")' onMouseOut="closeit()" style="color:blue;">Précisions</a></font></strong>
        <div id="precision_$!item.odii_insalubrite.odins_id" style="position:absolute; left:250;width:250;padding:5px;background-color:lightyellow;border:1px solid black;visibility:hidden;z-index:100;cursor:hand;text-align:left;">
          <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">$!item.encodeHtml($!item.odii_insalubrite.odins_precision)&nbsp;</font></strong>
        </div>
    </td>
    </tr></table>
    </td>
  </tr>
  <tr>
    <td style="background-color:#CCCC99;"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Valeur&nbsp;</font></strong></td>
    <td align="left" bgcolor="#FFFFFF">
         <input type="hidden" name="odii_valeur_$!item.odii_insalubrite.odins_id" value="$item.odii_valeur" >
         <div id="menu_valeur_$!item.odii_insalubrite.odins_id"  style="width: 100%; height:100%; border: 1px solid black; background: #FFFFFF; padding: 0px 5px;font-weight: 900; color: #0000C0;">
            $item.odii_valeur
         </div>
         <div id="menu_valeur_child_$!item.odii_insalubrite.odins_id" style="position: absolute; visibility: hidden;">
           #foreach($itemv in [0..3])
            <a style="background-color:lightyellow;display: block; width: 50px; border: 1px solid black; padding: 0px 5px; text-decoration: none; font-weight: 900; color: #0000C0;" href="#" onClick="changeValeur2($!item.odii_insalubrite.odins_id, $itemv)" >$!itemv</a>
           #end
        </div>
        <script type="text/javascript">
        at_attach("menu_valeur_$!item.odii_insalubrite.odins_id", "menu_valeur_child_$!item.odii_insalubrite.odins_id", "hover", "y", "pointer");
        </script>
    <!--
    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
    <select name="odii_valeur_$!item.odii_insalubrite.odins_id" style="width:100%;" onChange="changeValeur($!item.odii_insalubrite.odins_id)">
       <option value="0" $item.getSelectedAttribute("0", $item.odii_valeur.toString())>0
       <option value="1" $item.getSelectedAttribute("1", $item.odii_valeur.toString())>1
       <option value="2" $item.getSelectedAttribute("2", $item.odii_valeur.toString())>2
       <option value="3" $item.getSelectedAttribute("3", $item.odii_valeur.toString())>3
    </select>
    </font></strong>
    -->
    </td>
    <td style="background-color:#CCCC99;"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Danger&nbsp;</font></strong></td>
    <td align="center" bgcolor="#FFFFFF" ><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
     #if($!item.odii_insalubrite.odins_danger)
       Oui
     #else
       Non
     #end
    </font></strong></td>
    <td style="background-color:#CCCC99;"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Coeff.&nbsp;</font></strong></td>
    <td align="right" bgcolor="#FFFFFF"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
     <input type="text" name="cfc_$!item.odii_insalubrite.odins_id" value="$!item.odii_insalubrite.odins_cfc"  style="text-align:right;width:100%;" size="4" readonly>
    </font></strong></td>
    <td style="background-color:#CCCC99;" width="100"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Note&nbsp;</font></strong></td>
    <td align="left" bgcolor="#FFFFFF" width="50"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
     #set($itemnote = $!item.odii_insalubrite.odins_cfc * $item.odii_valeur)
     <input type="text" name="note_$!item.odii_insalubrite.odins_id" value="$!itemnote"  style="text-align:right;width:100%;" size="4" readonly>
    </font></strong></td>
    <td style="background-color:#CCCC99;" width="100" ><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Maxi&nbsp;</font></strong></td>
    <td align="right" bgcolor="#FFFFFF" width="50"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;$!item.odii_insalubrite.odins_maxi&nbsp;</font></strong></td>
  </tr>
  <tr>
    <td style="background-color:#CCCC99;"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Observations&nbsp;</font></strong></td>
    <td align="center" bgcolor="#FFFFFF" colspan="5"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
    <input type="text" name="odii_observation_$!item.odii_insalubrite.odins_id" value="$!item.getAltValue($item.odii_observation, 'odii_observation')" style="width:100%;">
    </font></strong></td>
    <td style="background-color:#CCCC99;"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Remèdiabilité&nbsp;</font></strong></td>
    <input type="hidden" name="odii_remediabilite_$!item.odii_insalubrite.odins_id" value="$itemr.odnt_id" >
    <td align="left" bgcolor="#FFFFFF" colspan="3" nowrap>
         <div id="menu_remediabilite_$!item.odii_insalubrite.odins_id"  style="height: 100%;border: 1px solid black; background: #FFFFFF; padding: 0px 5px;font-weight: 900; color: #0000C0;">
            #if($item.getOdii_remediabilite())
                $!item.getOdii_remediabilite().getOdnt_nom()&nbsp;
            #else
                <span style='color:#FFFFFF;'>Choisir une option</span>
            #end
         </div>
         <div id="menu_remediabilite_child_$!item.odii_insalubrite.odins_id" style="position: absolute; width: 180; visibility: hidden;">
            <a style="background-color:lightyellow;display: block; width: 100%; border: 1px solid black; padding: 0px 5px; text-decoration: none; font-weight: 900;color:lightyellow;text-align:left;" href="#" onClick="changeRemediabilite($!item.odii_insalubrite.odins_id, '\'\'','')" >==Choisir une option==</a>
           #foreach($itemr in $remediabilites)
            <a style="background-color:lightyellow;display: block; width: 100%; border: 1px solid black; padding: 0px 5px; text-decoration: none; font-weight: 900; color: #0000C0;text-align:left;" href="#" onClick="changeRemediabilite($!item.odii_insalubrite.odins_id,$itemr.odnt_id, '$itemr.encodeHtml($!itemr.odnt_nom)')" >$!itemr.odnt_nom</a>
           #end
        </div>
        <script type="text/javascript">
        at_attach("menu_remediabilite_$!item.odii_insalubrite.odins_id", "menu_remediabilite_child_$!item.odii_insalubrite.odins_id", "hover", "y", "pointer");
        </script>
     <!--
    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
    <select name="odii_remediabilite_$!item.odii_insalubrite.odins_id" style="width:100%;">
      <option value="">
      #foreach($itemr in $remediabilites)
        <option value="$itemr.odnt_id" $item.getSelectedAttribute($itemr.getOdnt_id().toString(), $!item.getOdii_remediabilite().getOdnt_id().toString())>$!itemr.odnt_nom
      #end
      </select>
    </font></strong>
    -->
    </td>
  </tr>
#set($counter = $counter + 1)
#end
</table>
<table width="90%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50" height="20" valign="top"> <div align="right"></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"></div></td>
      <td>&nbsp;</td>
      <td colspan="4" nowrap>
            <a href="#" onClick="document.rechercheForm.dispatcher.value='SAVE';document.rechercheForm.submit();">
              <img src="images/modifier.gif" width="130" height="17" border="0" ></a>
       <a href="lot_form?dispatcher=FOR_UPDATE&for_object=immeuble&odlot_immeuble=$!lot.odlot_immeuble.odim_id&odlot_id=$!lot.odlot_id" style="color:blue;" ><img src="images/annuler.gif" width="130" height="17" border="0"></a></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
</table>
#end
</form>
<p>&nbsp;</p>
</center>
<div id="postit" style="left:150px;top:150px">

</div>
<script>

var crossobj;

function closeit(){
crossobj.style.visibility="hidden"
}

function showit(idpanel){
crossobj = document.getElementById(idpanel);
crossobj.style.visibility="visible"
}

</script>
<script language="JavaScript1.2">
<!--

// Detect if the browser is IE or not.
// If it is not IE, we assume that the browser is NS.
var IE = document.all?true:false

// If NS -- that is, !IE -- then set up for mouse capture
if (!IE) document.captureEvents(Event.MOUSEMOVE)

// Set-up to use getMouseXY function onMouseMove
document.onmousemove = getMouseXY;

// Temporary variables to hold mouse x-y pos.s
var tempX = 0
var tempY = 0

// Main function to retrieve mouse x-y pos.s

function getMouseXY(e) {
  if (IE) { // grab the x-y pos.s if browser is IE
    tempX = event.clientX + document.body.scrollLeft
    tempY = event.clientY + document.body.scrollTop
  } else {  // grab the x-y pos.s if browser is NS
    tempX = e.pageX
    tempY = e.pageY
  }
  // catch possible negative values in NS4
  if (tempX < 0){tempX = 0}
  if (tempY < 0){tempY = 0}
  // show the position values in the form named Show
  // in the text fields named MouseX and MouseY

   if(tempX > 500)
    tempX = tempX -270;

    if(crossobj == null){}
    else {
    crossobj.style.left=tempX + 20
    crossobj.style.top=tempY + 20
    }

  return true
}

//-->
</script>
</body>
</html>