<html>
<head>
<title>Analogon - Observatoire De l'Habitat</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}

//-->
</script>

<style type="text/css">
<!--
.menu {font-family:Verdana; font-size:8pt
; color:black; text-decoration:none;}
a.menu:hover {color:red;}
//-->
</style>

</head>
<body background="images/fond02.gif" link="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
#parse("menu.htm")
#set($actionparam = $req.getParameter("dispatcher"))
#if($actionparam.endsWith('INSERT'))
 #set($dispatcher = "INSERT")
#elseif($actionparam.indexOf('UPDATE') >= 0)
 #set($dispatcher = 'UPDATE')
#end
<br>
<br>
<center>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="100" ><div align="right"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;&nbsp;</font><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2"><img src="images/immeuble01.gif" width="60" height="30" align="absmiddle"></font></strong></font></strong></font></td>
      <td colspan="2" >
      <strong><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;</font></strong></font><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;Immeuble</font></strong></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
        #if($!dispatcher.equals("UPDATE") || $dispatcher.equals("INSERT"))
           / <a href="im_form?dispatcher=SHOW&for_object=immeuble&odim_id=$!immeuble.odim_id" style="color:blue;"> Globale</a>
           / Modification
           / <a href="synd_form?dispatcher=FOR_UPDATE&odsyn_id=$!immeuble.odim_syndic.odsyn_id&odim_id=$!immeuble.odim_id" style="color:blue;">Syndic</a>
           #if($!immeuble.odim_lots.size() > 0)
             /  <a href="lot_list?for_object=immeuble&odlot_immeuble=$!immeuble.odim_id" style="color:blue;" >
                Lots $!immeuble.odim_lots.size()
              </a>
           #end
           / <a href="lot_form?dispatcher=FOR_INSERT&for_object=immeuble&odlot_immeuble=$!immeuble.odim_id" style="color:blue;">Ajout d'un lot</a>
           #if($!immeuble.odim_procedures.size() > 0)
             /  <a href="proced_list?odim_id=$!immeuble.odim_id" style="color:blue;" >
                Proc&eacute;dures $!immeuble.odim_procedures.size()
              </a>
           #end
           / <a href="proced_form?dispatcher=FOR_INSERT&odim_id=$!immeuble.odim_id" style="color:blue;">Ajout d'une proc&eacute;dure</a>
        #else
          / Cr&eacute;ation
        #end
     </font></strong></div></td>
    </tr>
    <tr>
      <td valign="top" colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top" colspan="2">
      #if($!dispatcher.equals("UPDATE"))
          <b>IMMEUBLE&nbsp;&nbsp;
          #if($back_forward)
              #if($back_forward.size() > 0 && $back_forward.get(0) > 0)
              <a href="im_form?dispatcher=FOR_UPDATE&odim_id=$back_forward.get(0)" style="color:blue;" ><img src="images/fleche_g_01.gif" border="0" align="absmiddle" ></a>
              #end
              <font color="#800000">$!immeuble.notNullName</font>
              #if($back_forward.size() > 0 && $back_forward.get(1) > 0)
              <a href="im_form?dispatcher=FOR_UPDATE&odim_id=$back_forward.get(1)" style="color:blue;" ><img src="images/fleche_d_01.gif" border="0" align="absmiddle" ></a>
              #end
          #else
              <font color="#800000">$!immeuble.notNullName</font>
          #end
      #end
      </td>
    </tr>
    <tr>
      <td colspan=3 align="center">
          <font color="#800000"><b>
              #if($executed)
                 #if($dispatcher.equalsIgnoreCase("INSERT"))
                  L'enregistrement a été effectué.
                 #elseif($!dispatcher.equals("UPDATE"))
                  L'enregistrement a été actualisé.
                 #else
                  $!hibernateError
                 #end
             #end
          </b></font>
       </td></tr>

</table>
</center>
<form name="objectForm" method="post" action="im_form">
<input type="hidden" name="odim_id" value="$!immeuble.odim_id">
<input type="hidden" name="dispatcher" value="$!dispatcher">
  <table width="100%" border="0" cellspacing="5" cellpadding="0">
    <tr>
    <td width="150"></td>
    <td width="300" ><b>DONN&Eacute;ES G&Eacute;N&Eacute;RALES</b>
    </td>
    <td width="800" >
    <a href="im_form?dispatcher=FOR_UPDATE_MAIN&odim_id=$!immeuble.odim_id" style="color:blue;" >
     <img src="images/modifier.gif" width="130" height="17" border="0">
    </a>
    </td>
    </tr>
    <tr><td colspan="3">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;N&deg;
        </font></strong></em></td>
      <td width="1%">&nbsp;&nbsp;</td>
      <td width="25%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;$!immeuble.getEmptyStringToNegative($!immeuble.odim_id)
         </font>
        </td>
      <td>&nbsp;&nbsp;</td>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Nom
        immeuble </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getAltValue($immeuble.odim_nom, 'odim_nom')</td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Cadastre(<font size="1">Section-Parcelles</font>)
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td valign="top" nowrap>
        <table width="210" height="100%" bgcolor="black" cellspacing="1" cellpadding="0" border="0" >
          <tr>
            <td width="10%" bgcolor="white" align="center" >&nbsp;$!immeuble.getAltValue($immeuble.odim_cadsct, 'odexp_cadsct')&nbsp;</td>
            <td width="10%" bgcolor="white" align="center">-</td>
            <td width="20%" bgcolor="white" align="center">&nbsp;$!immeuble.getAltValue($immeuble.odim_cadp1, 'odim_cadp1')&nbsp;</td>
            <td width="20%" bgcolor="white" align="center">&nbsp;$!immeuble.getAltValue($immeuble.odim_cadp2, 'odim_cadp2')&nbsp;</td>
            <td width="20%" bgcolor="white" align="center">&nbsp;$!immeuble.getAltValue($immeuble.odim_cadp3, 'odim_cadp3')&nbsp;</td>
            <td width="20%" bgcolor="white" align="center">&nbsp;$!immeuble.getAltValue($immeuble.odim_cadp4, 'odim_cadp4')&nbsp;</td>
          </tr>
         </table>
        </td>
      <td>&nbsp;</td>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;N&deg;
        de rue / Rue </font></strong></em></td>
      <td>&nbsp;</td>
        #set($rue = $immeuble.odim_rue)
      <td width="25%">$!immeuble.odim_num $!rue.getAltValue($!rue.getOdrue_type(),'odrue_type') $!rue.getAltValue($!rue.getOdrue_liaison(),'odrue_liaison') $!rue.getAltValue($!rue.getOdrue_nom(), 'odrue_nom')</td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;&Icirc;lot(<font size="1" >Section-&Icirc;lot-B&acirc;ti</font>)
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td valign="top">
       <table width="100" style="height:16;"  bgcolor="black" cellspacing="1" cellpadding="0" border="0" >
          <tr>
            <td width="22%"  bgcolor="white" align="center" >&nbsp;$!immeuble.getAltValue($immeuble.odim_ilsct, 'odim_ilsct')&nbsp;</td>
            <td width="11%"  bgcolor="white" align="center">-</td>
            <td width="33%"  bgcolor="white" align="center">&nbsp;$!immeuble.getAltValue($immeuble.odim_ililot, 'odim_ililot')&nbsp;</td>
            <td width="11%"  bgcolor="white" align="center">-</td>
            <td width="22%"  bgcolor="white" align="center">&nbsp;$!immeuble.getAltValue($immeuble.odim_ilbat, 'odim_ilbat')&nbsp;</td>
          </tr>
         </table>
        </td>
        <td>&nbsp;</td>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Orientation
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td width="25%">$!immeuble.getAltValue($immeuble.odim_position, 'odim_position')</td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Date de construction
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getDateAsString($immeuble.odim_datecrea)</td>
      <td>&nbsp;</td>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Alignement
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getAltValue($immeuble.odim_alignement, 'odim_alignement')</td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Usage
      </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getOdim_groupe().getOdnt_nom() </td>
      <td>&nbsp;</td>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Nombre Ap.
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getAltValue($immeuble.odim_nbap, 'odim_nbap')</td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Type
        de propriété </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getOdim_type().getOdnt_nom()</td>
      <td>&nbsp;</td>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Etages/Hauteur(m)
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td nowrap>
      <table width="150" style="height:16;"  bgcolor="black" cellspacing="1" cellpadding="0" border="0">
      <tr><td width="40%"  bgcolor="white" align="right">$!immeuble.getAltValue($immeuble.odim_niv, 'odim_niv')&nbsp;</td>
      <td width="60%"  bgcolor="white" align="right">$!immeuble.getAltValue($immeuble.odim_haut, 'odim_haut')&nbsp;
      </td></tr></table>
      </td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Syndic
       </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getOdim_syndic().getOdsyn_code()
       #if($!immeuble.getOdim_syndic().odsyn_raison && !$immeuble.getOdim_syndic().odsyn_raison.equals(""))
       - $!immeuble.getOdim_syndic().getAltValue($!immeuble.getOdim_syndic().odsyn_raison, '')
      #end
      </td>
      <td>&nbsp;</td>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Surface
        au sol (m<sup>2</sup>)</font></strong></em></td>
      <td>&nbsp;</td>
      <td valign="top" >
      &nbsp;$!immeuble.getAltValue($immeuble.odim_surfacesol, 'odim_surfacesol')&nbsp;
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Canton
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getAltValue($immeuble.odim_canton, 'odim_canton')</td>
      <td>&nbsp;</td>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Surface totale
      (m<sup>2</sup>) </font></strong></em></td>
      <td>&nbsp;</td>
      <td>
      &nbsp;$!immeuble.getAltValue($immeuble.odim_surfacetot, 'odim_surfacetot')
      </td>
   </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Quartier
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td>$!immeuble.getAltValue($immeuble.odim_quartier.odnt_nom, '')</td>
      <td>&nbsp;</td>
      <td valign="top"><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Etat g&eacute;n&eacute;ral
        </font></strong></em></td>
      <td>&nbsp;</td>
      <td>
      $!immeuble.odim_etgen.odnt_nom
      </td>
   </tr>
    </table>
    </td>
    </tr>
   <tr>
    <td width="150">
    <td width="300" ><b>PARTIES COMMUNES</b>
    </td>
    <td width="800" >
    <a href="im_form?dispatcher=FOR_UPDATE_PARTSCOM&odim_id=$!immeuble.odim_id" style="color:blue;" >
     <img src="images/modifier.gif" width="130" height="17" border="0">
    </a>
    </td>
    </tr>
   <tr>
    <td width="150">
    <td width="300" ><b>ENVIRONNEMENT</b>
    </td>
    <td width="800" >
    <a href="im_form?dispatcher=FOR_UPDATE_ENV&odim_id=$!immeuble.odim_id" style="color:blue;" >
     <img src="images/modifier.gif" width="130" height="17" border="0">
    </a>
    </td>
    </tr>
   <tr>
    <td width="150">
    <td width="300" ><b>SANITAIRE / PARASITAIRE </b>
    </td>
    <td width="800" >
    <a href="im_form?dispatcher=FOR_UPDATE_SANPAR&odim_id=$!immeuble.odim_id" style="color:blue;" >
     <img src="images/modifier.gif" width="130" height="17" border="0">
    </a>
    </td>
    </tr>
   <tr>
    <td width="150">
    <td width="300" ><b>INSALUBRIT&Eacute; </b>
    </td>
    <td width="800" >
    <a href="insalubriteimm?odim_id=$!immeuble.odim_id&odii_annee=$!year" style="color:blue;" >
     <img src="images/modifier.gif" width="130" height="17" border="0">
    </a>
    </td>
    </tr>
   <tr>
    <td width="150">
    <td width="300" ><b>DOCUMENTS ET PHOTOS</b>
    </td>
    <td width="800" >
    <a href="immeuble_upload?odim_id=$!immeuble.odim_id" >
     <img src="images/modifier.gif" width="130" height="17" border="0">
    </a>
    </td>
    </tr>
    #if($attached_docs.size() > 0 || $attached_photos.size() > 0 || $attached_sons.size() > 0)
    <tr>
        <td>&nbsp;</td>
        <td colspan="8" >
      <table cellspacing="0" cellpadding="0" border="1" >
      <tr>
        <td align="center" bgcolor="#FFFFFF"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Documents</font></strong></td>
        <td align="center" bgcolor="#FFFFFF"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Photos</font></strong></td>
      </tr>
            <tr >
              <td  nowrap valign="top" height="20" width="33%" background="images/fond_liste.gif">
                #foreach($item in $attached_docs)
                   &nbsp;<a href="$!docs_path/$!immeuble.odim_id/documents/$!immeuble.encodeISO($!item.toString())" target="file" style="color:blue;" >$!item.toString()</a><br>
                #end
                &nbsp;
              </td>
              <td nowrap valign="top"  width="33%" background="images/fond_liste.gif">
                #foreach($item in $attached_photos)
                   &nbsp;<a href="$!docs_path/$!immeuble.odim_id/photos/$!immeuble.encodeISO($!item.toString())" target="file" style="color:blue;" >$!item.toString()</a><br>
                #end
                &nbsp;
              </td>

            </tr>
          </table>
        </td>
    </tr>
    #end
</table>
</body>
</html>
