<html>
<head>
<meta http-equiv="Content-Language" content="fr">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title></title>
</head>
<frameset rows="40,*" framespacing="0" border="0" frameborder="0">
  <frame src="listing?printer=BUTTONS" scrolling="no" marginwidth="5" marginheight="5">
  <frame src="listing?printer=RESULTS" scrolling="auto" noresize marginwidth="5" marginheight="5">
  <noframes>
  <body topmargin="0">

  <p>Cette page utilise des cadres, mais votre navigateur ne les prend pas en
  charge.</p>

  </body>
  </noframes>
</frameset>
</html>