<html>
<head>
<meta http-equiv="Content-Language" content="fr">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script>
 function openNewSession(windObject){
   if(windObject != null)
      windObject.close();
   if(window.opener != null)
      window.opener.openNewSession(window);
   window.close();
 }

</script>
<title></title>
</head>

<body >
<div style="background-color:#FFFFFF">
<table border="0" cellpadding="0" cellspacing="0" width="98%"  align="center" > <!--background="images/trait.gif"-->
	<tr><td align="center">
	    <a href="#" onClick="javascript:window.parent.frames[1].printFrame();"><img border="0" src="images/imprimer.gif" width="128" height="17"></a>
    </td>
	  <td align="center">
      <a href="#"  onClick="javascript:window.parent.close();"><img border="0" src="images/annuler.gif" width="128" height="17"></a>
    </td>
  </tr>
  </table>
</div>
</body>
</html>
