<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Document sans titre</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="300"><font size="1" face="Arial, Helvetica, sans-serif"><img src="images/transparent01.gif" width="10" height="17"><font size="2">Observatoire
      de l'habit&acirc;t  vers 1.1</font><img src="images/transparent01.gif" width="10" height="17"></font></td>
    <td>
      <div align="right"><a href="http://www.analogon.fr" target="_blank"><img src="images/logo_analogon02.gif" width="53" height="30" border="0" align="absmiddle"></a><font color="#000099" size="2" face="Arial, Helvetica, sans-serif"><em>
        La diff&eacute;rence logicielle</em></font><font size="1" face="Arial, Helvetica, sans-serif"><img src="images/transparent01.gif" width="10" height="17" align="absmiddle"></font></div></td>
  </tr>
</table>
</body>
</html>
