<html>
<head>
<title>Analogon - Observatoire De l'Habitat</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}

function deleteObject(){
 if(confirm("Etes-vous certain vouloir faire cette suppression ?")){
   document.objectForm.dispatcher.value='DELETE';document.objectForm.submit();
 }
}


//-->
</script>

<style type="text/css">
<!--
.menu {font-family:Verdana; font-size:8pt
; color:black; text-decoration:none;}
a.menu:hover {color:red;}
//-->
</style>

</head>
<body background="images/fond02.gif" link="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
#parse("menu.htm")
#set($pForObject = $req.getParameter('for_object'))
#set($actionparam = $req.getParameter("dispatcher"))
#if($actionparam.endsWith('UPDATE'))
 #set($dispatcher = 'UPDATE')
#else
 #set($dispatcher = "INSERT")
#end
<form name="objectForm" method="post" action="relogement_form">
<input type="hidden" name="odre_id" value="$!relogement.odre_id">
<input type="hidden" name="dispatcher" value="$!dispatcher" >
<input type="hidden" name="odimr_id" value="$!procedure.odimr_id" >
<input type="hidden" name="for_object" value="$!pForObject" >
  <p>&nbsp;</p>
<center>
  <table width="90%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="3"><div align="left"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;&nbsp;<img src="images/maintenance01.gif" width="60" height="30" align="absmiddle"></font></strong></font><strong><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;Maintenance</font></strong></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
          /
        #if($!actionparam.endsWith("UPDATE"))
           Modification relogement
        #else
          Cr&eacute;ation relogement
        #end
        </font></strong></div></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top" colspan="2">
      #if($!actionparam.endsWith("UPDATE"))
          &nbsp;&nbsp;&nbsp;&nbsp;<b>RELOGEMENT <font color="#800000">$!relogement.odre_nom</font>
      #end
      </td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan=3 align="center">
          <font color="#800000"><b>
          #if($actionparam.equalsIgnoreCase("INSERT"))
            #if($executed)
              L'enregistrement a été effectué.<br><br>
            #else
              #if($relogement.hasErrors())
                  Impossible de valider : Il y a $!relogement.getErrorsCount() erreur(s).  <br><br>
              #else
                $!hibernateError   <br><br>
              #end
            #end
          #elseif($actionparam.equalsIgnoreCase("UPDATE"))
            #if($executed)
              L'enregistrement a été actualisé.  <br><br>
            #else
              #if($relogement.hasErrors())
                  Impossible de valider : Il y a $!relogement.getErrorsCount() erreur(s).  <br><br>
              #else
                $!hibernateError   <br><br>
              #end
            #end
          #end
          </b></font>
       </td></tr>
</table>
</center>
<table width="98%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50" valign="top" ><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Nom *
        </font></strong></em></td>
      <td >&nbsp; <input name="odre_nom" type="text" value="$!relogement.getAltValue($relogement.odre_nom, 'odre_nom')" size="40" maxlength="40">
               #if ($relogement.hasError("odre_nom", "IS_BLANK_OR_NULL"))
                 <font color="red">Le nom est obligatoire.</font>
               #end
               #if ($relogement.hasError("odre_nom", "MAX_LENGTH"))
                 <font color="red">Le nom est trop long. Maximum 30 caractères.</font>
               #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Type *
      </font></strong></em></td>
      <td>&nbsp;
        <select name="odre_type" >
          <option value="">
          #foreach($item in $!relogementTypes)
             <option value="$item.odnt_id" $relogement.getSelectedAttribute($item.getOdnt_id().toString(), $!relogement.getOdre_type().getOdnt_id().toString())>$!item.odnt_nom
          #end
        </select>
                #if ($relogement.hasError("odre_type", "IS_BLANK_OR_NULL"))
                   <font color="red">Le type de relogement est obligatoire. </font><br/>
                #end
                #if ($relogement.hasError("odre_type", "NOT_EXISTS"))
                   <font color="red">Le type de relogement choisi n'existe plus. </font><br/>
                #end
        </td>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Adresse1 *
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_adr1" type="text" value="$!relogement.getAltValue($relogement.odre_adr1, 'odre_adr1')" size="40" maxlength="80">
           <!-- validate error message -->
           #if ($relogement.hasError("odre_adr1", "IS_BLANK_OR_NULL"))
             <font color="red">Ce champ est obligatoire.</font><br/>
           #end
           #if ($relogement.hasError("odre_adr1", "MAX_LENGTH"))
             <font color="red">L'adresse est trop longue. Maximum 80 caractères.</font>
           #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Adresse2
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_adr2" type="text" value="$!relogement.getAltValue($relogement.odre_adr2, 'odre_adr2')" size="40" maxlength="80">
           <!-- validate error message -->
           #if ($relogement.hasError("odre_adr2", "MAX_LENGTH"))
             <font color="red">L'adresse est trop longue. Maximum 80 caractères.</font>
           #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Code
        postal </font></strong></em></td>
      <td>&nbsp; <input name="odre_cpost" type="text" value="$!relogement.getAltValue($!relogement.zeroFillToStart($relogement.odre_cpost.toString(), 5), 'odre_cpost')" size="5" maxlength="5">
           #if ($relogement.hasError("odre_cpost", "IS_FRENCH_CODEPOSTE"))
             <font color="red">La valeur introduite n'est pas celle d'un code postal.</font>
           #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Ville
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_ville" type="text" value="$!relogement.getAltValue($relogement.odre_ville, 'odre_ville')" size="40" maxlength="60">
          #if ($relogement.hasError("odre_ville", "MAX_LENGTH"))
             <font color="red">La valeur pour la ville est trop longue. Maximum 30 caractères.</font>
          #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;T&eacute;l
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_tel" type="text" value="$!relogement.getAltValue($relogement.odre_tel, 'odre_tel')" size="20" maxlength="20">
              #if ($relogement.hasError("odre_tel", "MAX_LENGTH"))
                 <font color="red">Le numéro de téléphone est trop long. Maximum 20 caractères.</font>
               #end
              #if ($relogement.hasError("odre_tel", "IS_PHONE"))
                 <font color="red">La valeur introduite n'est pas celle d'un numéro de téléphone.</font>
               #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Fax
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_fax" type="text" value="$!relogement.getAltValue($relogement.odre_fax, 'odre_fax')" size="20" maxlength="20">
              #if ($relogement.hasError("odre_fax", "MAX_LENGTH"))
                 <font color="red">Le numéro de téléphone est trop long. Maximum 20 caractères.</font>
               #end
              #if ($relogement.hasError("odre_fax", "IS_PHONE"))
                 <font color="red">La valeur introduite n'est pas celle d'un numéro de fax.</font>
               #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Mail
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_mail" type="text" value="$!relogement.getAltValue($relogement.odre_mail, 'odre_mail')" size="40" maxlength="40">
              #if ($relogement.hasError("odre_mail", "IS_EMAIL"))
                 <font color="red">La valeur introduite n'est pas celle d'une adresse de mail.</font>
               #end
              #if ($relogement.hasError("odre_mail", "MAX_LENGTH"))
                 <font color="red">La valeur pour ce champ est trop longue. Maximum 60 caractères.</font>
               #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Prix
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_prix" type="text" value="$!relogement.getAltValue($relogement.odre_prix, 'odre_prix')" size="10" maxlength="10">
           <!-- validate error message -->
              #if ($relogement.hasError("odre_prix", "IS_FLOAT"))
                 <font color="red">Il faut introduire un nombre. </font><br/>
              #end
              #if ($relogement.hasError("odre_prix", "IS_FLOAT_IN_RANGE"))
                 <font color="red">Il faut introduire un nombre entre 000000000,00 et 999999999,99 </font><br/>
              #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Civilit&eacute; gérant
        </font></strong></em></td>
       <td>&nbsp;
        <select size="1" name="odre_gerciv">
           <option>
           <option value="M." $!relogement.getSelectedAttribute("M.", $!relogement.odre_gerciv) >M.</option>
           <option value="Mme" $!relogement.getSelectedAttribute("Mme", $!relogement.odre_gerciv)>Mme</option>
           <option value="Mlle" $!relogement.getSelectedAttribute("Mlle", $!relogement.odre_gerciv)>Mlle</option>
        </select>
               <!-- validate error message -->
               #if ($relogement.hasError("odre_gerciv", "IS_NOT_IN_COLLECTION"))
                 <font color="red">L'option sélectionnée n'est pas valide.</font>
               #end
       </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Nom gérant
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_gernom" type="text" value="$!relogement.getAltValue($relogement.odre_gernom, 'odre_gernom')" size="30" maxlength="30">
               #if ($relogement.hasError("odre_gernom", "MAX_LENGTH"))
                 <font color="red">Le nom est trop long. Maximum 30 caractères.</font>
               #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Prénom gérant
        </font></strong></em></td>
      <td>&nbsp; <input name="odre_gerprenom" type="text" value="$!relogement.getAltValue($relogement.odre_gerprenom, 'odre_gerprenom')" size="30" maxlength="30">
               #if ($relogement.hasError("odre_gerprenom", "MAX_LENGTH"))
                 <font color="red">Le prénom est trop long. Maximum 30 caractères.</font>
               #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top" ><div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
       <td valign="top" width="210" height="22" >
          <table width="100%" cellspacing="0" cellpadding="0" border="0"  >
            <tr>
              <td width="210" valign="top" height="22" background="images/fond_sousmenu.gif" ><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Commentaire
              </font></strong></em></td>
            </tr>
          </table>
        </td>
      <td >&nbsp; <textarea name="odre_commentaire" cols="40" rows="5" maxlength="255" >$!relogement.getAltValue($relogement.odre_commentaire, 'odre_commentaire')</textarea>
              #if ($relogement.hasError("odre_commentaire", "MAX_LENGTH"))
                 <font color="red">Le texte est trop long. Maximum 250 caractères.</font>
               #end
      </td>
    </tr>
    <tr>
      <td height="20" valign="top">&nbsp;</td>
      <td colspan="2"valign="top">&nbsp;
        <font face="Verdana, Arial, Helvetica, sans-serif"><font size="2">&nbsp;&nbsp;<font color="#000000" size="2">Les
          champs suivis de * sont obligatoires.</font>
      </td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
    <td>
      #if($!actionparam.endsWith("UPDATE"))
        <a href="#" onClick="deleteObject()"><img src="images/supprimer.gif" width="130" height="17" border="0"></a>
        <a href="#" onClick="document.objectForm.dispatcher.value='UPDATE';document.objectForm.submit();"><img src="images/modifier.gif" width="130" height="17" border="0"></a>
      #else
      <a href="#" onClick="document.objectForm.dispatcher.value='INSERT';document.objectForm.submit();"><img src="images/creer.gif" width="130" height="17" border="0"></a>
      #end
      <a href="relogement_list?odre_type=$!relogement.odre_type" ><img src="images/annuler.gif" width="130" height="17" border="0"></a>
      </td>
     </tr>
  </table>
</form>
<p>&nbsp;</p>
  <!--
$expert.getFirstFieldWithError()
$expert.getFirstFieldError()
-->
</body>
</html>
