<html>
<head>
<title>Analogon - Observatoire De l'Habitat</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}

function validateNom(nm){
  var nomString = nm;
  illegalStrings = new Array(" ", "Du ","De ","De l'","De l","Des ","D'","D ","Le ","La ","Les ","L'","L ");
  var crtIllegalString;
  for (var i = 0; i < illegalStrings.length; i++){
    crtIllegalString = illegalStrings[i].toLowerCase();
    if(nomString.indexOf(crtIllegalString) == 0){
      alert("Il est interdit de faire commencer le nom d'une rue par '"+crtIllegalString+"'. \n Utiliser le champs liaison ou un autre champs pour cela.");
      return false;
    }
  }
  return true;
}

function submitForm()
{
  if(validateNom(document.objectForm.odrue_nom.value.toLowerCase()) && validateNom(document.objectForm.odrue_nomrech.value.toLowerCase()))
    document.forms[0].submit();
}

function deleteObject(){
 if(confirm("Etes-vous certain vouloir faire cette suppression ?")){
   document.objectForm.dispatcher.value='DELETE';document.objectForm.submit();
 }
}
//-->
</script>

<style type="text/css">
<!--
.menu {font-family:Verdana; font-size:8pt
; color:black; text-decoration:none;}
a.menu:hover {color:red;}
//-->
</style>

</head>
<body background="images/fond02.gif" link="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
#set($pChooser = $req.getParameter("chooser"))
#if(!$pChooser || $pChooser.equals(""))
  #parse("menu.htm")
#end
#set($actionparam = $req.getParameter("dispatcher"))
#if($actionparam.endsWith('UPDATE'))
 #set($dispatcher = 'UPDATE')
#else
 #set($dispatcher = "INSERT")
#end
<form name="objectForm" method="post" action="rue_form">
<input type="hidden" name="odrue_id" value="$!rue.odrue_id">
<input type="hidden" name="dispatcher" value="$!dispatcher" >
<input type="hidden" name="chooser" value="$!pChooser" >
  <p>&nbsp;</p>
<center>
  <table width="90%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="3"><div align="left"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;&nbsp;<img src="images/maintenance01.gif" width="60" height="30" align="absmiddle"></font></strong></font><strong><font face="Verdana, Arial, Helvetica, sans-serif"><strong><font size="2">&nbsp;Maintenance</font></strong></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
          /
        #if($!actionparam.endsWith("UPDATE"))
           Modification rue
        #else
           Cr&eacute;ation rue
        #end
       #if($!rue.odrue_immeubles.size() > 0)
         <!--
         /  <a href="im_list?odrue_id=$!rue.odrue_id" style="color:blue;" >
            Immeubles ($!rue.odrue_immeubles.size())
          </a>   -->
       #end
        </font></strong></div></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top" colspan="2">
      #if($!actionparam.endsWith("UPDATE"))
          &nbsp;&nbsp;&nbsp;&nbsp;<b>RUE <font color="#800000">$!rue.odrue_type $!rue.odrue_liaison $!rue.odrue_nom</font>
      #end
      </td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan=3 align="center">
          <font color="#800000"><b>
          #if($actionparam.equalsIgnoreCase("INSERT"))
            #if($executed)
              L'enregistrement a été effectué.
            #else
              #if($rue.hasErrors())
                  Impossible de valider : Il y a $!rue.getErrorsCount() erreur(s).
              #else
                $!hibernateError
              #end
            #end
          #elseif($actionparam.equalsIgnoreCase("UPDATE"))
            #if($executed)
              L'enregistrement a été actualisé.
            #else
              #if($rue.hasErrors())
                  Impossible de valider : Il y a $!rue.getErrorsCount() erreur(s).
              #else
                $!hibernateError
              #end
            #end
          #end
          </b></font>
       </td></tr>
</table>
</center>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Code
        rue *</font></strong></em></td>
      <td>&nbsp; <input name="odrue_code" type="text" value="$!rue.getAltValue($rue.odrue_code, 'odrue_code')" size="4" maxlength="4">
            <!-- error message -->
                 #if ($rue.hasError("odrue_code", "IS_BLANK_OR_NULL"))
                   <font color="red">Ce champ est obligatoire.</font>
                 #end
                 #if ($rue.hasError("odrue_code", "IS_INT"))
                       <font color="red">Il faut introduire seulement des chiffres.</font>
                     #end
                 #if ($rue.hasError("odrue_code", "MAX_LENGTH"))
                   <font color="red">La valeur pour ce champ est trop longue. Maximum 5 chiffres.</font>
                 #end
                 #if ($rue.hasError("odrue_code", "ALREADY_EXISTS"))
                       <font color="red">Ce code existe déjà.</font>
                 #end
      </td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td height="24" width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Type *
        </font></strong></em></td>
      <td>&nbsp; <select name="odrue_type" >
          <option value="">
          #foreach($item in $!rue.getStreetTypes())
             <option value="$item" $rue.getSelectedAttribute($item, $!rue.getOdrue_type())>$!item
          #end
        </select>
               <!-- validate error message -->
               #if ($rue.hasError("odrue_type", "IS_NOT_IN_COLLECTION"))
                 <font color="red">L'option sélectionnée n'est pas valide.</font>
               #end
        </td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Liaison
        </font></strong></em></td>
      <td>&nbsp; <input name="odrue_liaison" type="text" value="$!rue.getAltValue($rue.odrue_liaison, 'odrue_liaison')" size="10" maxlength="10">
              #if ($rue.hasError("odrue_liaison", "MAX_LENGTH"))
                 <font color="red">Le nom de la liaison est trop long. Maximum 10 caractères.</font>
               #end
      </td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Nom
        *</font></strong></em></td>
      <td>&nbsp; <input name="odrue_nom" type="text" value="$!rue.getAltValue($rue.odrue_nom, 'odrue_nom')" size="30" maxlength="60" onChange="validateNom(document.objectForm.odrue_nom.value.toLowerCase())">
              #if ($rue.hasError("odrue_nom", "IS_BLANK_OR_NULL"))
                 <font color="red">Ce champ est obligatoire.</font>
               #end
              #if ($rue.hasError("odrue_nom", "MAX_LENGTH"))
                 <font color="red">Le nom de la rue est trop long. Maximum 60 caractères.</font>
               #end
              #if ($rue.hasError("odrue_nom", "ILLEGAL_START"))
                 <font color="red">Il est interdit de faire commencer le nom d'une rue par '$!ILLEGAL_STRING', utiliser le champs liaison ou un autre champs pour cela.</font>
               #end
      </td>
    </tr>
    <tr>
      <td valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Nom de recherche
        *</font></strong></em></td>
      <td>&nbsp; <input name="odrue_nomrech" type="text" value="$!rue.getAltValue($rue.odrue_nomrech, 'odrue_nomrech')" size="30" maxlength="60" onChange="validateNom(document.objectForm.odrue_nomrech.value.toLowerCase())">
              #if ($rue.hasError("odrue_nomrech", "IS_BLANK_OR_NULL"))
                 <font color="red">Ce champ est obligatoire.</font>
               #end
              #if ($rue.hasError("odrue_nomrech", "MAX_LENGTH"))
                 <font color="red">Le nom de recherche de la rue est trop long. Maximum 60 caractères.</font>
               #end
              #if ($rue.hasError("odrue_nomrech", "ILLEGAL_START"))
                 <font color="red">Il est interdit de faire commencer le nom de recherche d'une rue par '$!ILLEGAL_STRING', utiliser le champs liaison ou un autre champs pour cela.</font>
               #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Code
        postal *</font></strong></em></td>
      <td>&nbsp; <input name="odrue_codeposte" type="text" value="$!rue.getAltValue($!rue.zeroFillToStart($rue.odrue_codeposte.toString(), 5), 'odrue_codeposte')" size="5" maxlength="5">
           #if ($rue.hasError("odrue_codeposte", "IS_BLANK_OR_NULL"))
             <font color="red">Ce champ est obligatoire.</font><br/>
           #end
           #if ($rue.hasError("odrue_codeposte", "IS_FRENCH_CODEPOSTE"))
             <font color="red">La valeur du code postal n'est pas celle d'un code postal.</font>
           #end
      </td>
    </tr>
    <tr>
      <td width="50" valign="top"> <div align="right"><img src="images/fond_sousmenu2.gif"></div></td>
      <td width="210" valign="top" background="images/fond_sousmenu.gif"><em><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;Ville
        *</font></strong></em></td>
      <td>&nbsp; <input name="odrue_ville" type="text"  value="$!rue.getAltValue($rue.odrue_ville, 'odrue_ville')" size="30" maxlength="60">
          #if ($rue.hasError("odrue_ville", "IS_BLANK_OR_NULL"))
             <font color="red">Ce champ est obligatoire.</font>
          #end
          #if ($rue.hasError("odrue_ville", "MAX_LENGTH"))
             <font color="red">La valeur pour la ville est trop longue. Maximum 60 caractères.</font>
          #end
      </td>
    </tr>
    <tr>
      <td height="20" valign="top">&nbsp;</td>
      <td colspan="2"valign="top">&nbsp;
        <font face="Verdana, Arial, Helvetica, sans-serif"><font size="2">&nbsp;&nbsp;<font color="#000000" size="2">Les
          champs suivis de * sont obligatoires.</font>
      </td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td width="210" valign="top">&nbsp;</td>
    <td>
      #if($!actionparam.endsWith("UPDATE"))
        <a href="#" onClick="deleteObject()"><img src="images/supprimer.gif" width="130" height="17" border="0"></a>
        <a href="#" onClick="document.objectForm.dispatcher.value='UPDATE';submitForm();"><img src="images/modifier.gif" width="130" height="17" border="0"></a>
      #else
      <a href="#" onClick="document.objectForm.dispatcher.value='INSERT';submitForm();"><img src="images/creer.gif" width="130" height="17" border="0"></a>
      #end
      <a href="rue_list?chooser=$!pChooser" ><img src="images/annuler.gif" width="130" height="17" border="0"></a>
      </td>
      </tr>
  </table>
</form>
<p>&nbsp;</p>
<!--
$rue.getFirstFieldWithError()
$rue.getFirstFieldError()
-->
</body>
</html>
